    <?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"

        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "info.marcim.mobile.phonegap-test-app"
        version     = "1.0.0"
        versionCode = "10" >

        <!-- versionCode is optional and Android only -->
		
        <name>MDZ's PhoneGap Test App</name>
		
        <description>
        Zażółć Gęślą Jaźń
        </description>

        <author href="http://marcim.info" email="kontakt@marcim.info">
        Marcin Dziedzic
        </author>
        
        <!-- other settings and preferences -->
		
		<gap:platform name="android" />
		
        <preference name="phonegap-version" value="3.3.0" />
        
		<preference name="splash-screen-duration" value="3000"/> 
		
		<icon src="assets/icon/hdpi.png" gap:platform="android" gap:qualifier="hdpi" />
		<gap:splash src="assets/splash/hdpi.png" gap:platform="android" gap:qualifier="hdpi" />
		
		<access origin="http://net-in.pl" subdomains="true" />
		
		<gap:plugin name="com.phonegap.plugins.pushplugin" version="2.1.1" />
		
		<gap:config-file platform="android" parent="/manifest">
			
		</gap:config-file>

		
    </widget>

