    <?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"

        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "info.marcim.mobile.phonegap-test-app"
        version     = "1.0.0"
        versionCode = "10" >

        <!-- versionCode is optional and Android only -->

        <preference name="phonegap-version" value="3.1.0" />

        <name>MDZ's PhoneGap Test App</name>

        <description>
        Zażółć Gęślą Jaźń
        </description>

        <author href="http://marcim.info" email="kontakt@marcim.info">
        Marcin Dziedzic
        </author>

    </widget>

